.my-style{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: block;
    border: 2px solid #eee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 18px 50px -1px #eee;
}
/* .btn{
    margin:20px;
} */